<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
  <xacro:arg name="robot_ip" default="TODO" />
  <xacro:arg name="ee_id" default="franka_hand" />
  <xacro:arg name="rpy_ee" default="0 0 -0.78539" />

  <!-- Load Franka robot -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <xacro:franka_robot arm_id="fr3"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                      gazebo="false"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      with_sc="false"
                      ros2_control="true"
                      robot_ip="192.168.19.21"
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      gazebo_effort="false"
                      no_prefix="false"
                      arm_prefix=""
                      connected_to= "world">
  </xacro:franka_robot>
  
    <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
   <link name="grasp_link" />
   <joint name="grasp_link_joint" type="fixed">
      <parent link="fr3_hand_tcp"/>
      <child link = "grasp_link"/>
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
    </joint>
</robot>
