<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
  <xacro:arg name="robot_ip" default="TODO" />
  <xacro:arg name="ee_id" default="franka_hand" />
  <xacro:arg name="rpy_ee" default="0 0 -0.78539" />
  <xacro:arg name="use_fake_hardware" default="false" />

  <!-- Load Franka robot -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <!-- franka_description 2.7.1 selects joint_limits/inertials/kinematics/dynamics
       internally from robot_type; they are no longer passed as macro params. -->
  <xacro:franka_robot robot_type="fr3"
                      gazebo="false"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      with_sc="false"
                      ros2_control="true"
                      robot_ip="192.168.19.21"
                      use_fake_hardware="$(arg use_fake_hardware)"
                      fake_sensor_commands="false"
                      gazebo_effort="false"
                      no_prefix="false"
                      arm_prefix=""
                      connected_to= "world">
  </xacro:franka_robot>
  
    <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
   <link name="grasp_link" />
   <joint name="grasp_link_joint" type="fixed">
      <parent link="fr3_hand_tcp"/>
      <child link = "grasp_link"/>
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
    </joint>
</robot>
