<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka">
  <xacro:arg name="right_robot_ip" default="172.16.15.102" />
  <xacro:arg name="left_robot_ip" default="172.16.0.4" />
  <xacro:arg name="ee_id" default="franka_hand" />
  <xacro:arg name="rpy_ee" default="0 0 -0.785" />

  <!-- Load Franka robot -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <link name="world" />
  <joint name="right_moint_joint" type="fixed">
     <parent link="world"/>
     <child link = "right_mount"/>
    <origin xyz="0.035 -0.050681 0.356" rpy="0.8936 -0.1746 0.4636"/>
  </joint>
  <xacro:franka_robot arm_id="fr3"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                      gazebo="false"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      with_sc="false"
                      ros2_control="false"
                      robot_ip="$(arg right_robot_ip)"
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      gazebo_effort="false"
                      no_prefix="false"
                      arm_prefix="right_"
                      connected_to= "right_mount">
  </xacro:franka_robot>
  <link name="grasp_link" />
  <joint name="grasp_link_joint" type="fixed">
     <parent link="world"/>
     <child link = "grasp_link"/>
     <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
  </joint>

  <joint name="left_moint_joint" type="fixed">
     <parent link="world"/>
     <child link = "left_mount"/>
    <origin xyz="0.035 0.050681 0.356" rpy="-0.8936 -0.1746 -0.4636"/>
  </joint>
  <xacro:franka_robot arm_id="fr3"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                      gazebo="false"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      with_sc="false"
                      ros2_control="false"
                      robot_ip="$(arg left_robot_ip)"
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      gazebo_effort="false"
                      no_prefix="false"
                      arm_prefix="left_"
                      connected_to= "left_mount">
  </xacro:franka_robot>
  
    <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
   <link name="left_grasp_link" />
   <joint name="left_grasp_link_joint" type="fixed">
      <parent link="world"/>
      <child link = "left_grasp_link"/>
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
    </joint>
</robot>
